dbt-core
dbt-duckdb
dbt-fal
dbt-python
duckdb==0.6.1  # required to read saved database.duckdb file
pandera
scikit-learn
sf-hamilton
aiohttp>=3.9.4 # not directly required, pinned by Snyk to avoid a vulnerability
